<% content_for :title, "About" %>
<div>
    <h1 class="font-bold text-4xl">About Socmed</h1>
    <p class="font-mono text-2xl mt-4">
        The <%= link_to "Ruby on RailsTutorial", "https://www.railstutorial.org/", class: "text-red-500 italic link link-hover", target: "_blank", rel: "noopener" %>, part of the
        <%= link_to "Learn Enough", "https://www.learnenough.com/", class: "text-red-500 link link-hover", target: "_blank", rel: "noopener" %> family of
        tutorials, is a
        <%= link_to "book", "https://www.railstutorial.org/book", class: "text-red-500 link link-hover", target: "_blank", rel: "noopener" %>
        and
        <%= link_to "screencast series", "https://screencasts.railstutorial.org/", class: "text-red-500 link link-hover", target: "_blank", rel: "noopener" %>
        to teach web development with
        <%= link_to "Ruby on RailsTutorial", "https://www.railstutorial.org/", class: "text-red-500 italic link link-hover", target: "_blank", rel: "noopener" %>.
        This is the sample app for the tutorial.
    </p>
</div>
